.vscode/

deploy.tar

config/process.local.env
config/process.test.env
config/process.prod.env

ssl/

backend/ssl
backend/config

frontend/app/node_modules
frontend/app/build

frontend/server/build
frontend/server/config
frontend/server/ssl