.App {
    max-width: 1020px;
    margin: auto;
}

header {
    font-size: 5rem;
    text-align: center;
    margin: 2rem 0;
}

form {
    padding: 1vw;
    text-align: center;
}

section {
    border-radius: 1em;
    border: 1px solid silver;
}

form input[type=text] {
    width: 80%;
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

form input[type=submit] {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

#results {
    display: none;
}

#results.show {
    display: block;
}

#results_link {
    text-align: center;
}

#results_qrcode {
    text-align: center;
}

footer {
    text-align: center;
    margin: 2rem 0;
}

@media only screen and (max-width: 1024px) {
    .App {
        padding: 1rem;
    }
    header {
        font-size: 10vw;
    }
    form {
        padding: 1%;
        text-align: center;
    }
    form input[type=text] {
        width: 60%;
    }
    form input[type=submit] {
        width: 20%;
    }
  }